{% extends 'layouts/base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block content %}


<div class="container">

  
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" id = "modalForm">
    <ol class="breadcrumb">
    {% for name, url in breadcrumb %}
    
      {% if url %}
      <li class="breadcrumb-item">
        <a href="{{url}}">
          {{name}}
        </a>
      </li>
      {% else %}
    
      <li class="breadcrumb-item active current-breadcrumb" aria-current="page">

          {{name}}
      </li>
      {% endif %}
      {% endfor %}
    </ol>
  </nav>







  

      

<div class="modal fade" id="staticBackdrop" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title text-primary">Create Task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

      <form method = "POST">
        <div class="modal-body">
          

        {% csrf_token %}
        {{ TaskForm.title.label_tag}}
        {{ TaskForm.title|add_class:"form-control" }}

          

        {{TaskForm.description.label_tag}}
 
        {{ TaskForm.description|add_class:"form-control" }}


      

        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>

      </form>

    </div>
  </div>
</div>
      

<div class="row d-flex align-items-center">
  <div class="col-auto">
    <h1 class="display-3">{{project.name}}</h1>

  </div>

  <div class="col-auto">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Add task
  </button>
  </div>

  
  




  
</div>
<!-- Button trigger modal -->


{% for task in tasks_pendience %}


 <article class="col-12 card mb-3">

  <h2 class="card-header text-warning">
    {{task.title}}
  </h2>


  <div class="card-body">
      

      <form method="POST" class="d-flex justify-content-end">
        {% csrf_token %}

        
          <button class = "btn btn-success" name = "PUT" value={{task.id}}>Done</button>

          <button  class="btn btn-danger bi bi-trsh" name = "DELETE" value= {{task.id}}>
            <img src="{% static 'icons/trash.svg' %}">
          </button>
      </form>
      
 </article>


  
{% endfor %}
</div>





<div class="container">


 {% for task in tasks_done %}
  <article class="col-12 card mb-3">

  <h2 class="card-header text-success">
    {{task.title}}
  </h2>


  <div class="card-body">
      

      <form method="POST" class="d-flex justify-content-end">
        {% csrf_token %}

          <button  class="btn btn-danger bi bi-trsh" name = "DELETE" value= {{task.id}}>
            <img src="{% static 'icons/trash.svg' %}">
          </button>
      </form>
      
 </article>

 {% endfor %}


</div>

{% endblock %}