body {
    color:whitesmoke;

}
.nav-link.active:hover {
    color: #92DCE5 !important;
}







h1 {
    color: #92DCE5;

}

.text-decoration-underline {
    color: #92DCE5
}

.separador {
    width: 100%;
    height: 20px;
    background: #EFE7EB;
}

.breadcrumb-item .active {
    color:#EFE7EB
}