{% extends 'layouts/base.html' %}
{{messages.succes}}
{% load widget_tweaks %}


{% block content %}


<div class="container ">


 

  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
     <ol class="breadcrumb">
    {% for name, url in breadcrumb %}
    
      {% if url %}
      <li class="breadcrumb-item">
        <a href="{{url}}">
          {{name}}
        </a>
      </li>
      {% else %}
      
      <li class="breadcrumb-item active" aria-current="page">
        {{name}}
      </li>
      {% endif %}
      {% endfor %}
    </ol>
  </nav>


    <h1 class="display-3 text-center"><span class="text-info">add task to</span> {{ project.name }}</h1>

    <form method="POST" class="d-flex justify-content-center">
        {% csrf_token %}
      <div class="mb-3 col-12 col-md-8">

        {% csrf_token %}
        {{ form.title.label_tag}}
        {{ form.title|add_class:"form-control" }}

     <div class="mb-3">

        {{form.description.label_tag}}
 
        {{ form.description|add_class:"form-control" }}


     </div>
    
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
</div>
{% endblock %}