{% extends 'layouts/base.html' %}

{% block content %}

<h1>Tasks</h1>

<form>
{% for task in tasks %}
<div class="task-container" class="card">
    <h1>{% if task.done %} ✅ {% else %} ⏰ {% endif %} {{task.title}}</h1>

    {% if task.done %}
    <h2>Done</h2>

    {% else %}

    <h2>Pendience ⏰</h2>

    {% endif %}

    <p>{{task.description}}</p>
    <p>project</p>
    <p>project: {{task.project}}</p>
    <form class="task-action" method="get">
        <button>Delete</button>
        <button> Done ✅</button>
    <form>

</div>
{% endfor %}


{% endblock %}