{% extends 'layouts/base.html' %}

{% block content %}

<h1>About</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas corporis sit porro iste accusamus, sapiente iure eum ut minus veniam, quia deserunt obcaecati corrupti magni fuga ipsa fugit quod magnam molestiae autem expedita beatae maiores tempore odit. Explicabo nulla rerum eveniet quod pariatur laudantium veritatis odio doloremque sapiente reiciendis! Nam unde deserunt praesentium possimus, sapiente aut molestiae dicta repudiandae ut! Id esse doloremque hic reprehenderit corrupti quae modi consectetur dolores. Dolorum quam cum a consequatur eaque omnis obcaecati consectetur, cupiditate ducimus voluptatibus odio quisquam aut ipsa accusantium et sit nulla eveniet! Vero id, sit ullam delectus sint officiis excepturi dolore?</p>

<p>Created by {{username}}</p>

{% endblock %}